.inner {
    height: rem(56px);
    display: flex;
    justify-content: start;
    align-items: center;
  }

.input {
    flex: 3;
    justify-content: center;
}

.button {
    flex: 1;
    max-width: 30%;
    justify-content: center ;
}
